# Set default behavior to automatically normalize line endings
* text=auto
.gitattributes text eol=lf

# Explicitly declare text files to always be normalized to LF on checkout
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.po text eol=lf
*.pot text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Windows Batch scripts must have CRLF line endings
*.bat text eol=crlf
*.cmd text eol=crlf

# Shell scripts must have LF line endings, or bash on WSL/Linux breaks
*.sh text eol=lf

# Binary files
*.wasm binary
*.png binary
*.jpg binary
*.ico binary
*.dll binary
*.nvda-addon binary
*.zvoice binary
